:root {
    --primary-background-light: hsl(153, 28%,86%);
    --secondary-background-light: hsl(153, 20%,80%);
    --form-background: hsl(182, 100%, 97%);

    --input-bordercolor: hsl(150, 5%, 9%);

}

.topbar {
    height:16%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 6.75%;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-background-light);
    align-items: center;
    margin: 0;
    font-size: 4.7vw;
}

.main {
    height: 44.30%;
    width: 46.56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: green;
    border-width: 1vw;
    border-style: solid;

}

.header {
    width: 100%;
    height: 22.71%;
    display: flex;
    flex-direction: column;
}

 .form {
    margin-top: 27.126%;
    background-color: aqua;
    width: 50.71%;
    height: 27.13;
 }
.input {
   width: 100%;
   height: 100%;
   background-color: var(--form-background);
   border-color: var(--input-bordercolor);
   border-width: 4px;
   border-style: solid;
   border-radius: 5px;
}