:root {
    --background-text-color: hsl(150, 5%, 9%);
}
 
.h1 {
    color: var(--background-text-color);
    font-family: "lilita one", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    
}